@font-face {
  font-family: 'Neue Montreal';
  src: url('https://fonts.cdnfonts.com/s/16659/NeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('https://fonts.cdnfonts.com/s/16659/NeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Montreal';
  src: url('https://fonts.cdnfonts.com/s/16659/NeueMontreal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Impact';
  src: url('https://fonts.cdnfonts.com/s/13884/impact.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
